/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
.Navbar-container{
  margin: 20px;
  padding-right: 80px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.Navbar-container a{
  color: white;
  text-decoration: none;
}
.card-img{
  height: 250px;
  width: 100%;
}
/* .Navbar-container Button:hover{
  background-color: rgba(0, 0, 255, 0.279);
}
*/
